<!DOCTYPE html>
<html>
<head>
  <title>Learningbydoing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= link_to 'Home', root_path %>
  <%= link_to 'New book', new_book_path %>
  <%= link_to 'New author', new_author_path %>
</header>
<%= yield %>

</body>
</html>
